{% extends "base.html" %}

{% block header %}
<h1>Ressources</h1>
<h3>All the ensaa documents you need to study</h3>
{% endblock %}

{% block content %}
<div>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#cp1" aria-expanded="true" aria-controls="collapseExample">
        CP1
    </button>
    <div class="collapse" id="cp1">
        <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
</div><br>

<div>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#cp2" aria-expanded="true" aria-controls="collapseExample">
        CP2
    </button>
    <div class="collapse" id="cp2">
        <div class="card card-body bg-secondary">
            <div class="m-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#topology" aria-expanded="true" aria-controls="collapseExample">
                    Topology
                </button>
                <div class="collapse" id="topology">
                    <div class="card card-body bg-dark text-white">
                        Documents de topologie
                    </div>
                </div>
            </div><br>
            <div class="m-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#analyse3" aria-expanded="true" aria-controls="collapseExample">
                    Analyse 3
                </button>
                <div class="collapse" id="analyse3">
                    <div class="card card-body bg-dark text-white">
                        Analyse 3
                    </div>
                </div>
            </div><br>
            <div class="m-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#thermodynamique" aria-expanded="true" aria-controls="collapseExample">
                    Thermodynamique
                </button>
                <div class="collapse" id="thermodynamique">
                    <div class="card card-body bg-dark text-white">
                        Thermodynamique
                    </div>
                </div>
            </div><br>
            <div class="m-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#mechanique2" aria-expanded="true" aria-controls="collapseExample">
                    Mechanique 2
                </button>
                <div class="collapse" id="mechanique2">
                    <div class="card card-body bg-dark text-white">
                        mechanique 2
                    </div>
                </div>
            </div><br>
            <div class="m-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#electronique" aria-expanded="true" aria-controls="collapseExample">
                    Electronique
                </button>
                <div class="collapse" id="electronique">
                    <div class="card card-body bg-dark text-white">
                        Electronique
                    </div>
                </div>
            </div><br>
            <div class="m-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#tec2" aria-expanded="true" aria-controls="collapseExample">
                    Tec 2
                </button>
                <div class="collapse" id="tec2">
                    <div class="card card-body bg-dark text-white">
                        Tec 2
                    </div>
                </div>
            </div><br>
            <div class="m-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#anglais2" aria-expanded="true" aria-controls="collapseExample">
                    Anglais 2
                </button>
                <div class="collapse" id="anglais2">
                    <div class="card card-body bg-dark text-white">
                        Anglais 2
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div><br>

<div>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#ci1" aria-expanded="true" aria-controls="collapseExample">
        CI1
    </button>
    <div class="collapse" id="ci1">
        <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
</div><br>

<div>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#ci2" aria-expanded="true" aria-controls="collapseExample">
        CI2
    </button>
    <div class="collapse" id="ci2">
        <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
</div><br>

<div>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#ci3" aria-expanded="true" aria-controls="collapseExample">
        CI3
    </button>
    <div class="collapse" id="ci3">
        <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
</div><br>

{% endblock %}