{% extends "base.html" %}

{% block header %}
<h1>Ressources</h1>
<h3>All the ensaa documents you need to study</h3>
{% endblock %}

{% block content %}
<div>
    {% for major in majors %}
    <button class="btn btn-primary m-1" type="button" data-bs-toggle="collapse" data-bs-target="#{{major.name.replace(' ','').lower()}}" aria-expanded="true" aria-controls="collapseExample">
        {{ major.name }}
    </button>
    {% endfor %}

    {% for major in majors %}
    <div class="collapse my-1" id="{{major.name.replace(' ','').lower()}}">
        <div class="card card-body bg-secondary">
            <div class="m-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#topology" aria-expanded="true" aria-controls="collapseExample">
                    Topology
                </button>
                <div class="collapse" id="topology">
                    <div class="card card-body bg-dark text-white">
                        Documents de topologie
                    </div>
                </div>
            </div><br>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}